test
<img ng-src="$ctrl.loadImage('join.png')" />
{{activities}}
<div class='md-padding' layout="row" layout-wrap>
<!--<md-content ng-repeat="activity in $ctrl.activities" layout="row"> -->
    <md-card flex="33" ng-repeat="activity in $ctrl.activities" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span ng-click="$ctrl.details(activity)" onclick="$ctrl.details(activity)" class="md-headline">{{activity.name}}</span> <!-- on click not working -->
                <span class="md-subhead">{{activity.type}} in {{activity.city}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media"></div>
            <p>
                The titles of Washed Out's breakthrough
            </p>
            <md-card-actions layout="column">
                <md-button class="md-icon-button" aria-label="Join Activity">
                    <md-icon md-svg-src='../../img/icons/join.png'></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-src='./../../img/icons/Join.svg'></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="list"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
<!-- </md-content> -->
</div>

<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="New Activity" ng-click="$ctrl.newActivity()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>
