<h2>Select the kind of activity you're interested in</h2>

<view-carousel></view-carousel>

<section class="thumbnails">
        <div>
            <a href="">
                <img src="../../img/style/Sports.jpg" alt="" ng-click="$ctrl.goType('Sports')" />
                <h3>Running</h3>
            </a>
            <a href="images/fulls/02.jpg">
                <img src="../../img/style/Climbing.jpg" alt="" ng-click="$ctrl.goType('Climbing')"/>
                <h3>Climbing</h3>
            </a>
        </div>
        <div>
            <a href="images/fulls/02.jpg">
                <img src="../../img/style/Climbing.jpg" alt="" ng-click="$ctrl.goType('Climbing')"/>
                <h3>Climbing</h3>
            </a>
            <a href="images/fulls/04.jpg">
                <img src="../../img/style/Sports.jpg" alt="" />
                <h3>Yoga </h3>
            </a>
            <a href="images/fulls/05.jpg">
                <img src="../../img/style/Sports.jpg" alt="" />
                <h3>Hiking </h3>
            </a>
        </div>
        <div>
            <a href="images/fulls/06.jpg">
                <img src="../../img/style/Sports.jpg" alt="" />
                <h3>Climbing</h3>
            </a>
            <a href="images/fulls/07.jpg">
                <img src="../../img/style/Sports.jpg" alt="" />
                <h3> </h3>
            </a>
        </div>
    </section>
</div>

<img ng-src="./../../img/style/bg.jpg" />

