<md-card>
    <md-card-title>
        DO YOU WANT TO JOIN THE FOLLOWING ACTIVITY?
    </md-card-title>
</md-card>

<md-card>
    <md-card-title>
        DO YOU WANT TO JOIN THE FOLLOWING ACTIVITY?
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Join Activity" ng-click="$ctrl.join()" >
                    <md-icon><ng-md-icon icon="check_circle"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Cancel" ng-click="$ctrl.cancel()" >
                    <md-icon><ng-md-icon icon="cancel" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>

            <span class="md-headline">{{$ctrl.activity.name}}</span>
            <span class="md-subhead">City: {{$ctrl.activity.city}}</span>
            <span class="md-subhead">Type: {{$ctrl.activity.type}}</span>
            <md-card-content>
                <md-card>
                    <span class="md-content">Location: {{$ctrl.activity.location}}</span>
                </md-card><md-card>
                <span class="md-content">Date: {{$ctrl.activity.date}}</span>
            </md-card><md-card>
                <span class="md-content">Time: {{$ctrl.activity.time}}</span>
            </md-card>
            </md-card-content>

        </md-card-title-text>

    </md-card-title>



</md-card>