<h2>All activities</h2>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search for an activity" ng-model="searchActivity">
        </div>
    </div>
</form>



<table class="table table-bordered table-striped" ng-if="$ctrl.activities.length>0">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>City</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <tr ng-repeat="activity in $ctrl.activities | filter:searchActivity">
        <td>{{activity.name}}</td>
        <td>{{activity.type}}</td>
        <td>{{activity.city}}</td>
        <td>{{activity.location}}</td>
        <td>{{activity.date}}</td>
        <td>{{activity.time}}</td>
        <td>
            <md-button class="md-icon-button" aria-label="Details" ng-click="$ctrl.details(activity)">
                <md-icon md-svg-src="./../../img/icons/Details.svg"></md-icon>
            </md-button>
            <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button" aria-label="Edit" ng-click="$ctrl.edit(activity)">
                <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
            </md-button>
            <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button" aria-label="Edit" ng-click="$ctrl.delete(activity)">
                <md-icon><ng-md-icon icon="delete"></ng-md-icon></md-icon>
            </md-button>
        </td>
    </tr>
</table>
<div ng-if="$ctrl.activities.length==0">
    No record found !!
</div>