<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Data Grid - Material Design</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.1-master-a687bfc/angular-material.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css">
</head>
<body ng-app="myApp" ng-controller="myAppController" ng-cloak>
<div layout="column" layout-fill>
    <md-toolbar layout="row" layout-align="center">
        <div class="md-toolbar-tools" flex-gt-md="60" flex-md="80" flex-sm="100">
            <span>Angular Data Grid &mdash; Material Design</span>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu($event)">
                    <span layout="row" layout-align="center center">
                    Change theme
                    <i class="material-icons">arrow_drop_down</i>
                    </span>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <a href="../bootstrap/index.html">Bootstrap Design</a>
                    </md-menu-item>
                    <md-menu-item>
                        <a href="index.html"><strong>Material Design</strong></a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content layout-padding layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
            <div>
                <h4>Angular Data Grid sample using Material Design styling</h4>

                <p>Features enabled: sorting, filtering, sync with browser URLs, pagination and item-per-page functionality.
                    Out-of-box <a href="https://material.angularjs.org/" target="_blank">Angular Material</a> layout and input controls used,
                    along with <a href="https://www.getmdl.io/" target="_blank">Material Design Light</a> default CSS for grid styling.
                    <a href="https://github.com/angular-data-grid/angular-data-grid.github.io"
                       target="_blank">Project GitHub</a></p>
            </div>
            <hr>
            <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                <div  layout="row" layout-align="center start">
                    <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                        <input ng-model="code"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="order"
                               placeholder="Search by Order #"
                               filter-by="code"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                </div>
                <div  layout="row" layout-align="start center">
                    <md-datepicker ng-model="dateFrom"
                                   flex="100"
                                   md-placeholder="From Date"
                                   is-open="dateFromOpened"
                                   ng-click="dateFromOpened = true"
                                   filter-by="placed"
                                   filter-type="dateFrom"
                                   ng-change="gridActions.filter()"></md-datepicker>
                </div>
                <div  layout="row" layout-align="start center">
                    <md-datepicker ng-model="dateTo"
                                   flex="100"
                                   md-placeholder="To Date"
                                   is-open="dateToOpened"
                                   ng-click="dateToOpened = true"
                                   filter-by="placed"
                                   filter-type="dateTo"
                                   ng-change="gridActions.filter()"></md-datepicker>
                </div>
            </div>
            <div grid-data id='test' grid-options="$scope.gridOptions" grid-actions="gridActions">
                <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                        <span>{{filtered.length}} items total</span>
                    </div>
                    <div flex-gt-sm="75" flex-xs="100">
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination mdl-shadow--2dp"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option>10</md-option>
                                    <md-option>25</md-option>
                                    <md-option>50</md-option>
                                    <md-option>75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Order #</span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                                <md-select filter-by="statusDisplay"
                                           filter-type="select"
                                           ng-model="status"
                                           placeholder="Status"
                                           ng-change="filter()">
                                    <md-option value="">All Statuses</md-option>
                                    <md-option ng-repeat="option in statusOptions track by option.value"
                                               value="{{option.value}}">
                                        {{option.text}}
                                    </md-option>
                                </md-select>
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>Date Placed</span>
                            </th>
                            <th sortable='total.value' class="sortable">
                                <span>Total</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr grid-item>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.name"></span>
                            </td>
                            <td ng-bind="item.type"></td>
                            <td ng-bind="item.placed | date:'MM/dd/yyyy'"></td>
                            <td ng-bind="item.total.formattedValue"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                        <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <md-option>10</md-option>
                            <md-option>25</md-option>
                            <md-option>50</md-option>
                            <md-option>75</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-content>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://angular-data-grid.github.io/dist/pagination.js"></script>
<script src="https://angular-data-grid.github.io/dist/dataGrid.js"></script>





































<form>
    <label for="predicate">selected predicate:</label>
    <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
</form>
<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="firstName">first name</th>
        <th st-sort="lastName">last name</th>
        <th st-sort="birthDate">birth date</th>
        <th st-sort="balance">balance</th>
        <th>email</th>
    </tr>
    <tr>
        <th>
            <input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
        </th>
        <th colspan="3">
            <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
        </th>
        <th>
            <input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.activities">
        <td>{{row.name | uppercase}}</td>
        <td>{{row.type}}</td>
        <td>{{row.birthDate | date}}</td>
        <td>{{row.balance | currency}}</td>
        <td><a ng-href="mailto:{{row.email}}">email</a></td>
    </tr>
    </tbody>
</table>



<table class="table" ng-if="$ctrl.activities.length>0">
    <tr>
        <th>SNo.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No.</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="activity in $ctrl.activities">
        <td>{{activity._id}}</td>
        <td>{{activity.name}}</td>
        <td>{{activity.contactNo}}</td>
        <td>{{activity.address}}</td>
        <td>
            <a ui-sref="edit({id:activity._id})">Edit</a> |
            <a href="#" ng-click="deleteUser(activity._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="activities.length==0">
    No record found !!
</div>

<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter activities">
        </md-input-container>
    </div>

    <md-table #table [dataSource]="activity in $ctrl.activities">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="userId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="progress">
            <md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{activities.name}}% </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="userName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="color">
            <md-header-cell *cdkHeaderCellDef> Color </md-header-cell>
            <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</div>



asdfgsdgdfgsdfgd
<div class='md-padding' layout="row" layout-wrap>
    <!--<md-content ng-repeat="activity in $ctrl.activities" layout="row"> -->
    <md-card flex="30" ng-repeat="activity in $ctrl.activities" md-theme="{{ showDarkTheme ? 'dark-orange' : 'dark' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span ng-click="$ctrl.details(activity)" class="md-headline">{{activity.name}}</span> <!-- on click not working -->
                <span class="md-subhead">{{activity.type}} in {{activity.city}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media"></div>
            <p>
                [Picture]
            </p>
            <md-card-actions layout="column">
                <md-button class="md-icon-button" aria-label="Join Activity" ng-click="$ctrl.join(activity)">
                    <md-icon md-svg-src="./../../img/icons/Join.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Details" ng-click="$ctrl.details(activity)">
                    <md-icon md-svg-src="./../../img/icons/Details.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Edit" ng-click="$ctrl.edit(activity)">
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
    <!-- </md-content> -->
</div>

<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="New Activity" ng-click="$ctrl.newActivity()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>