


<h2>Overview of activities</h2>

{{activities}}


<table class="table" ng-if="activities.length>0">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>City</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <tr ng-repeat="activity in activities">
        <td>{{activity.name}}</td>
        <td>{{activity.type}}</td>
        <td>{{activity.city}}</td>
        <td>{{activity.location}}</td>
        <td>{{activity.date}}</td>
        <td>{{activity.time}}</td>
        <td>{{activity._id}}</td>
        <td>
            <a ui-sref="editActivity({id:activity._id})">Edit</a> |
            <a href="#" ng-click="deleteActivity(activity._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="activities.length==0">
    No record found !!
</div>

