<h2>Overview of activities</h2>

<script src="../../services/activityService.js"></script>
<script src="../../controllers/activity.controller.js"></script>
<!--<h2 ng-show="user._id!=null">Edit</h2>
<h2 ng-show="user._id!=null">Create</h2>
<h2 ng-show="user._id!=null">Register</h2>
<h2 ng-hide="user._id!=null">Activities</h2> -->

<table class="table" ng-if="activities.length>0">
    <tr>
        <th>SNo.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No.</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="activity in activitys">
        <td>{{activity._id}}</td>
        <td>{{activity.name}}</td>
        <td>{{activity.contactNo}}</td>
        <td>{{activity.address}}</td>
        <td>
            <a ui-sref="edit({id:activity._id})">Edit</a> |
            <a href="#" ng-click="deleteactivity(activity._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="activities.length==0">
    No record found !!
</div>