<html>
<body>

<h2>Users Listing</h2>
<link rel="stylesheet" href="../../assets/css/main.css" />
<table class="table" ng-if="users.length>0">
    <tr>
        <th>SNo.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No.</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user._id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.contactNo}}</td>
        <td>{{user.address}}</td>
        <td>
            <a ui-sref="edit({id:user._id})">Edit</a> |
            <a href="#" ng-click="deleteUser(user._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="users.length==0">
    No record found !!
</div>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
        <h1>Welcome to <strong>FunApp</strong>, a social activity network created by <a href="https://github.com/MartinK25/SEBA_Group38">SEBA Team 38</a><br />
        </h1>

    </header>
    <!-- Main -->
    <section id="main">
        <h2><strong>popular</strong> activities</h2>
        <!-- Thumbnails -->
        <section class="thumbnails">
            <div>
                <a href="images/fulls/01.jpg">
                    <img src="images/thumbs/01.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
                <a href="images/fulls/02.jpg">
                    <img src="images/thumbs/02.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
            </div>
            <div>
                <a href="images/fulls/03.jpg">
                    <img src="images/thumbs/03.jpg" alt="" />
                    <h3>Hiking</h3>
                </a>
                <a href="images/fulls/04.jpg">
                    <img src="images/thumbs/04.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
                <a href="images/fulls/05.jpg">
                    <img src="images/thumbs/05.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
            </div>
            <div>
                <a href="images/fulls/06.jpg">
                    <img src="images/thumbs/06.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
                <a href="images/fulls/07.jpg">
                    <img src="images/thumbs/07.jpg" alt="" />
                    <h3>Lorem ipsum dolor sit amet</h3>
                </a>
            </div>
        </section>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
            <li><a href="mailto:martin.kiener@gmx.de" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <p>&copy; 2017 Untitled. All rights reserved. Created by Team 38. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.poptrox.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>







