<md-card>
    <md-card-title>
        <md-card-title-media>
            <div layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>

            <span class="md-headline">{{$ctrl.activity.name}}</span>
            <span class="md-subhead">City: {{$ctrl.activity.city}}</span>
            <span class="md-subhead">Type: {{$ctrl.activity.type}}</span>
            <span class="md-subhead"> <md-card><span class="md-content">&nbsp;&nbsp;&nbsp;</ng-md-icon></md-icon>Details:</span></span>
            <md-card-content>
                <md-card><span class="md-content">&nbsp;&nbsp;&nbsp;&nbsp;<md-icon><ng-md-icon icon="location_on"></ng-md-icon></md-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$ctrl.activity.location}}</span>
                </md-card><md-card>
                <md-datepicker ng-model="$ctrl.activity.date" md-placeholder="Enter date" disabled></md-datepicker>
            </md-card><md-card>
                    <span class="md-content">&nbsp;&nbsp;&nbsp;&nbsp;<md-icon><ng-md-icon icon="schedule"></ng-md-icon></md-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$ctrl.activity.time}}</span>
            </md-card>
            </md-card-content>

        </md-card-title-text>

    </md-card-title>



</md-card>
